.Title
{
    font-size: 32px;
    text-align: center;
}
.heading
{
    font-size: 24px;
}
.colo
{
    font-size: 14px;
}
.Title1
{
    font-size: 36px;
    text-align: center;
}
.heading1
{
    font-size: 28px;
}
.colo1
{
    font-size: 16px;
    color: gray;
}
.Title2
{
    font-size: 40px;
    text-align: center;
}
.heading2
{
    font-size: 32px;
}
.colo2
{
    font-size: 18px;
    color: blue;
}