.head
{
    font-size: 45px;
    
}
.sub_head
{
    font-size: 40px;
    padding-bottom: 6%;
}
.para
{
    font-size: 25px;
}
.sub_head1
{
    padding-bottom: 4%;
}
.sub_head2
{
    font-size: 30px;
}