/*body*/
/*{*/
/*    background-color: pink;*/
/*}*/
/*@media screen*/
/*{*/
/*    body*/
/*    {*/
/*        font-size: 50px;*/
/*    }*/
/*}*/
/*@media all*/
/*{*/
/*    p*/
/*    {*/
/*        background-color: green;*/
/*        color:red;*/
/*    }*/
/*}*/
/*@media (width:400px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: pink;*/
/*      color:skyblue;*/
/*    }*/
/*}*/
/*@media (width:576px)*/
/*{*/
/*    body*/
/*    {*/
/*        background-color: blue;*/
/*        color:red;*/
/*    }*/
/*}*/
/*@media (width:768px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: yellow;*/
/*      color:red;*/
/*    }*/
/*}*/
/*@media (width:1024px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: green;   */
/*      color:blue;*/
/*    }*/
/*}*/
/*@media (max-width:768px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: yellow; */
/*    }*/
/*}*/
/*@media (min-width:769px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: orange;   */
/*    }*/
/*}*/
/*@media (min-width:998px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: green;   */
/*    }*/
/*}*/
/*@media only screen and (orientation: landscape)*/
/*{*/
/*  body*/
/*  {*/
/*    background-color: lightblue;*/
/*  }*/
/*}*/
/*@media only screen and (orientation: portrait)*/
/*{*/
/*  body*/
/*  {*/
/*    background-color: lightblue;*/
/*  }*/
/*}*/
/*@media all and (max-width:400px)*/
/*{*/
/*  body*/
/*  {*/
/*    background-color: orange;*/
/*  }*/
/*}*/
/***/
/*{*/
/*  font-size: 0px;*/
/*  padding: 0px;*/
/*  margin: 0px;*/
/*  box-sizing: border-box;*/
/*}*/
/*}*/
/*.one*/
/*{*/
/*  height: 100px;*/
/*  width: 100%;*/
/*  background-color: blue;*/
/*  border:3px dashed yellow;*/
/*  display: inline-block;*/
  
/*}*/
/*@media(mix-width:500px)*/
/*{*/
/*  .one*/
/*  {*/
/*    background-color: red;*/
/*    width: 50%;*/
/*  }*/
/*}*/
/*@media(min-width:800px)*/
/*{*/
/*  .one*/
/*  {*/
/*    background-color: green;*/
/*    width: 33.333%;*/
/*  }*/
/*}*/
.heading
  {
    background-color: gray;
    height: 40px;
    width: 
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
  }
  .btn
  {
    background-color:blue;
    color:white;
  }

@media(max-width:767px)
{
.one
  {
    border:2px solid black;
  }
}
@media(min-width:800px)
{
  .one
  {
    border:2px dashed black;
  }
}