/*body*/
/*{*/
/*    background-color: pink;*/
/*}*/
/*@media screen*/
/*{*/
/*    body*/
/*    {*/
/*        font-size: 50px;*/
/*    }*/
/*}*/
/*@media all*/
/*{*/
/*    p*/
/*    {*/
/*        background-color: green;*/
/*        color:red;*/
/*    }*/
/*}*/
/*@media (width:400px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: pink;*/
/*      color:skyblue;*/
/*    }*/
/*}*/
/*@media (width:576px)*/
/*{*/
/*    body*/
/*    {*/
/*        background-color: blue;*/
/*        color:red;*/
/*    }*/
/*}*/
/*@media (width:768px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: yellow;*/
/*      color:red;*/
/*    }*/
/*}*/
/*@media (width:1024px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: green;   */
/*      color:blue;*/
/*    }*/
/*}*/
/*@media (max-width:768px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: yellow; */
/*    }*/
/*}*/
/*@media (min-width:769px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: orange;   */
/*    }*/
/*}*/
/*@media (min-width:998px)*/
/*{*/
/*    body*/
/*    {*/
/*      background-color: green;   */
/*    }*/
/*}*/
/*@media only screen and (orientation: landscape)*/
/*{*/
/*  body*/
/*  {*/
/*    background-color: lightblue;*/
/*  }*/
/*}*/
/*@media only screen and (orientation: portrait)*/
/*{*/
/*  body*/
/*  {*/
/*    background-color: lightblue;*/
/*  }*/
/*}*/
/*@media all and (max-width:400px)*/
/*{*/
/*  body*/
/*  {*/
/*    background-color: orange;*/
/*  }*/
/*}*/

@media(max-width:576px)
{
  .one
  {
    background-color: red;
    width: 100%;
    height: 50px;
    border:3px dashed yellow;
  }
}
@media(min-width:576px)
{
  .one
  {
    background-color: green;
    width: 100%;
    height: 50px;
    border:3px dashed yellow;
  }
}
@media(min-width:768px)
{
  .one
  {
    background-color: orange;
    width: 100%;
    height: 50px;
    border:3px dashed yellow;
  }
}