           @import
           url('https://fonts.googleapis.com/css?family=Pacifico|Monoton|Oswald|Roboto&display=swap');
            body
                {
                   background-color:#d1f2f6;
                }
            p.normal
               {
                font-family:"Pacifico";
                font-size:20px;
                font-weight:normal;
                font-style:normal;
                color:red;
                background-color: green;
               }
            p.thick
               {
                font-family:"Roboto";
                font-weight: bold;
                font-style:italic;
                color:#ff00f0;
                background-color:#00ff00;
               }
            p.thicker
               {
                   font-family: "Pacifico";
                   font-weight: 600;
                   color:rgb(250,180,0);
                   background-color: rgb(150,0,0);
               }
            #graduation
                {
                    color:blue;
                    font-family: "Roboto";
                    font-size: 20px;
                }
            .designation
                {
                    color:orange;
                    background-color:white;
                    font-size: 20px;
                }
            #designation
                {
                   color:green;
                   font-size: 18px;
                   font-weight:italic;
                }
             #qualification
                {
                   color: red;
                   font-style:"Roboto";
                   font-size:20px;
                   background-color: #f2f2f8;
                }
            h1
                {
                    color:black;
                    font-family: "Roboto";
                    
                }