.padding
{
    padding-left: 5%;
    padding-right: 5%; 
}
.head
{
    font-size:50px;
}
.sub_head
{
   font-size: 35px;  
   margin-top: -1%;
}
.para
{
    margin-top: -1%;
}
@media(max-width:576px)
{
    
}
@media(min-width:767px)
{
    .sub_div
    {
        background-color: lightgrey;
    }
    .head1
    {
        font-size: 35px;
    }
    .para
    {
        font-size: 20px;
    }
}