.heading
{
    text-align: center;
}
.card1
{
    text-align: center;
}
.card2
{
    text-align:center;
    border-radius: 5px;
}
.btn
{
    font-weight: bold;
    height:40px;
    color:white;
    background-color: #00ccff;
    margin: auto;
}
.space
{
    padding: 15px;
}