.container
{
    margin-top: 15px;
}
.row1
{
    background-color: gainsboro;
    height: 170px;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    padding-top: 55px;
}
.sub_head
{
    font-size: 25px;
}
.box
{
    background-color: blue;
    text-align: center;
    height: 30px;
    color:white;
    border-radius: 5px;
}
.line
{
    margin-top: -5px;
}
.row2
{
    background-color: gainsboro;
    height: 150px;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}
.row3
{
    background-color: gainsboro;
    height: 150px;
    border-radius: 5px;
    font-size: 40px;
    text-align: center;
    padding-top:12px;
    
}