.Title
{
    font-size: 30px;
    text-align: center;
}
.box_xsm
{
    background-color: orange;
    border:2px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.box_xsm
{
    background-color: #00c8ff;
    border:2px dashed black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.box_xsm
{
    background-color: #246caf;
    border:2px dashed black;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
