.head
{
    font-size: 50px;
    
}
.sub_head
{
    font-size: 40px;
    padding-bottom: 6%;
}
.para
{
    font-size: 25px;
}
.bg
{
    background-color: gainsboro;
}
.sub_head1
{
    font-size: 40px;
    padding-bottom: 6%;
}
.padd
{
    padding: 3%;
}