.Title
{
    text-align: center;
    font-size: 35px;
}
.heading
{
    font-size: 24px;
}
.colo
{
    color:gray;
}
.heading1
{
    font-size: 24px;
    padding-top: 18%;
}
.heading2
{
    
    font-size: 24px;
}