.b_icon
{
    height: 20px;
    display: inline-block;
}
.web_site
{
    font-weight: bold;
}
.bg_img
{
    background-image: url(assets/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.inside_profile
{
    text-align: center;
    color: white;
    background-position: center;
}
.profile_img
{
    height: 10%;
    width: 10%;
    border-radius: 20px;
    background-position: center;
}
.p_bot
{
    font-size: 30px;
}
.content
{
    color:gray;
    font-size: 13px;
}
.btn
{
    margin-left: 20px;
}
.background_img
{
    height: 30%;
    width: 62%;
}
.card_img
{
    margin-left: 10%;
}
.btn_two
{
    margin-left: 33%;
}
.bg-color_sec2
{
    background-color: #F8F8FF;
}
.card_size
{
    height: 100%;
    width: 100%;
}
.card_size1
{
    height: 140%;
    width: 100%;
    background-size: contain;
}
.img
{
    display: inline-block;
    height: 300%;
    width: 100%;
    background-size:cover; 
}
.img1
{
    height: 150%;
    width: 100%;
    background-size: cover;
}