.Gmail_logo
{
    height: 30px;
}
.gmail
{
    font-size: 30px;
    color:gray;
}
.gmail_top
{
    padding-top: 10px;
}
.sign_nav
{
    text-align:right;
}
.dis
{
    color:gray;
}
.pageCont
{
    text-align:center;
}
.heading
{
    text-align: center;
    padding-top: 20px;
}
.btn_sp
{
    padding-top: 20px;
}
.logo
{
    height: 70px;
    padding-top: 20px;
}
.down_sp
{
    padding-top: 10px;
}
.landing_mobile
{
    height: 450px;
}