/*.Gmail_logo*/
/*{*/
/*    height: 30px;*/
/*}*/
/*.gmail*/
/*{*/
/*    font-size: 30px;*/
/*    color:gray;*/
/*}*/
/*.gmail_top*/
/*{*/
/*    padding-top: 10px;*/
/*}*/
/*.sign_nav*/
/*{*/
/*    text-align:right;*/
/*}*/
/*.dis*/
/*{*/
/*    color:gray;*/
/*}*/
/*.heading*/
/*{*/
    /*text-align: center;*/
/*    padding-top: 30px;*/
/*}*/
/*.btn_sp*/
/*{*/
/*    padding-top: 20px;*/
/*}*/
/*.logo*/
/*{*/
/*    height: 70px;*/
/*    padding-top: 20px;*/
/*}*/
/*.down_sp*/
/*{*/
/*    padding-top: 10px;*/
/*}*/
/*.landing_mobile*/
/*{*/
/*    width:  100%;*/
/*}*/
/*.desktop-img*/
/*{*/
/*    padding-top: 35px;*/
/*}*/
/*.desktop_contant*/
/*{*/
/*    padding-top: 100px;*/
/*}*/
/*.gmail-desktop*/
/*{*/
/*    padding-top: 35px;*/
/*}*/
/*.gmail_screen_shoot*/
/*{*/
/*    height:200px;*/
/*    width: 100%;*/
/*}*/
/*.never-drop-desktop*/
/*{*/
/*    height:200px;*/
/*    width: 100%;*/
/*}*/
/*.Create_Account_Pad*/
/*{*/
/*    padding-top: 50px;*/
/*}*/
/*.footer_title*/
/*{*/
/*    font-size: 30px;*/
/*}*/
/*.footer_links*/
/*{*/
/*    font-size: 15px;*/
/*    display:inline-block;*/
/*}*/
.logo_img
{
    height: 25px;
    margin-bottom:5px;
}
.title
{
    font-size: 23px;
    color:gray;
}
.btn
{
    text-align: right;
}
.mobile_header
{
    border-bottom:1px solid gray;
}
.l_item
{
    display: inline-block;
    color:gray;
}
.bg-color
{
    background-color: ghostwhite;
    padding-bottom: 10%; 
}
.landing_mobile
{
    width: 90%;
}
.landing_desktop
{
    height: 450px;
    width: 100%;
    padding-top: 20%;
}
.tab_con
{
    padding-top: 13%;
}
.content
{
    padding-top: 20px;
}